.titre{
    display: flex;
    justify-content : center;
    color: rgb(95, 197, 211);
    font-family: comic sans ms, times, serif;
    font-size: 450%;
}

body{
    background-image: url(https://marketplace.canva.com/EAD297uecnM/2/0/1600w/canva-rainbow-gradient-pink-orange-and-blue-zoom-virtual-background-VwJMC37j5jQ.jpg);
}