body{
    background-image: url(https://lh3.googleusercontent.com/proxy/lqvXWDXvZr76_A418la3KdKVC1u17lIbrO98DKxurC7Qp07g2ggR5kdQbBjv6ohA8O6oa4rrmjAeiGfI9CCjhZiH6RMNii7hh67pgw8ZU-_Uds9CvaoVW8brFgJnDCLD7af-c0EFCBYySOqiYbap);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 30%;
}
